
\.vscode/
utils/vmt_to_vmat/VTFLibWrapper/__init__.py
utils/vmt_to_vmat/VTFLibWrapper/__pycache__/__init__.cpython-37.pyc
utils/vmt_to_vmat/VTFLibWrapper/__pycache__/__init__.cpython-38.pyc
utils/vmt_to_vmat/VTFLibWrapper/__pycache__/VTFLib.cpython-37.pyc
utils/vmt_to_vmat/VTFLibWrapper/__pycache__/VTFLib.cpython-38.pyc
utils/vmt_to_vmat/VTFLibWrapper/__pycache__/VTFLibConstants.cpython-37.pyc
utils/vmt_to_vmat/VTFLibWrapper/__pycache__/VTFLibConstants.cpython-38.pyc
utils/vmt_to_vmat/VTFLibWrapper/__pycache__/VTFLibEnums.cpython-37.pyc
utils/vmt_to_vmat/VTFLibWrapper/__pycache__/VTFLibEnums.cpython-38.pyc
utils/vmt_to_vmat/VTFLibWrapper/__pycache__/VTFLibStructures.cpython-37.pyc
utils/vmt_to_vmat/VTFLibWrapper/__pycache__/VTFLibStructures.cpython-38.pyc
utils/vmt_to_vmat/VTFLibWrapper/bin/DevIL.dll
utils/vmt_to_vmat/VTFLibWrapper/bin/HLLib.dll
utils/vmt_to_vmat/VTFLibWrapper/bin/libtxc_dxtn.so
utils/vmt_to_vmat/VTFLibWrapper/bin/libVTFLib13.so
utils/vmt_to_vmat/VTFLibWrapper/bin/VTFCmd.exe
utils/vmt_to_vmat/VTFLibWrapper/bin/VTFEdit.exe
utils/vmt_to_vmat/VTFLibWrapper/bin/VTFLib.dll
utils/vmt_to_vmat/VTFLibWrapper/bin/VTFLib.x64.dll
utils/vmt_to_vmat/VTFLibWrapper/bin/VTFLib.x86.dll
utils/vmt_to_vmat/VTFLibWrapper/bin/x64/DevIL.dll
utils/vmt_to_vmat/VTFLibWrapper/bin/x64/HLLib.dll
utils/vmt_to_vmat/VTFLibWrapper/bin/x64/VTFCmd.exe
utils/vmt_to_vmat/VTFLibWrapper/bin/x64/VTFEdit.exe
utils/vmt_to_vmat/VTFLibWrapper/bin/x64/VTFLib.dll
utils/vmt_to_vmat/VTFLibWrapper/bin/x86/DevIL.dll
utils/vmt_to_vmat/VTFLibWrapper/bin/x86/HLLib.dll
utils/vmt_to_vmat/VTFLibWrapper/bin/x86/VTFCmd.exe
utils/vmt_to_vmat/VTFLibWrapper/bin/x86/VTFEdit.exe
utils/vmt_to_vmat/VTFLibWrapper/bin/x86/VTFLib.dll
utils/vmt_to_vmat/VTFLibWrapper/lib/VTFLib.h
utils/vmt_to_vmat/VTFLibWrapper/lib/x64/VTFLib.lib
utils/vmt_to_vmat/VTFLibWrapper/lib/x86/VTFLib.lib
utils/vmt_to_vmat/VTFLibWrapper/VTFLib.py
utils/vmt_to_vmat/VTFLibWrapper/VTFLibConstants.py
utils/vmt_to_vmat/VTFLibWrapper/VTFLibEnums.py
utils/vmt_to_vmat/VTFLibWrapper/VTFLibStructures.py
.idea/codeStyles/codeStyleConfig.xml
.idea/inspectionProfiles/profiles_settings.xml
.idea/misc.xml
.idea/modules.xml
.idea/source2utils.iml
.idea/vcs.xml
utils/extract_alpha_channel.py
utils/extract_alpha_channel.py
utils/extract_alpha_channel.py
utils/working files/extract_alpha_channel.py
