
\.vscode/
utils/vmt_to_vmat/VTFLibWrapper/__init__.py
utils/vmt_to_vmat/VTFLibWrapper/__pycache__/__init__.cpython-37.pyc
utils/vmt_to_vmat/VTFLibWrapper/__pycache__/__init__.cpython-38.pyc
utils/vmt_to_vmat/VTFLibWrapper/__pycache__/VTFLib.cpython-37.pyc
utils/vmt_to_vmat/VTFLibWrapper/__pycache__/VTFLib.cpython-38.pyc
utils/vmt_to_vmat/VTFLibWrapper/__pycache__/VTFLibConstants.cpython-37.pyc
utils/vmt_to_vmat/VTFLibWrapper/__pycache__/VTFLibConstants.cpython-38.pyc
utils/vmt_to_vmat/VTFLibWrapper/__pycache__/VTFLibEnums.cpython-37.pyc
utils/vmt_to_vmat/VTFLibWrapper/__pycache__/VTFLibEnums.cpython-38.pyc
utils/vmt_to_vmat/VTFLibWrapper/__pycache__/VTFLibStructures.cpython-37.pyc
utils/vmt_to_vmat/VTFLibWrapper/__pycache__/VTFLibStructures.cpython-38.pyc
utils/vmt_to_vmat/VTFLibWrapper/bin/DevIL.dll
utils/vmt_to_vmat/VTFLibWrapper/bin/HLLib.dll
utils/vmt_to_vmat/VTFLibWrapper/bin/libtxc_dxtn.so
utils/vmt_to_vmat/VTFLibWrapper/bin/libVTFLib13.so
utils/vmt_to_vmat/VTFLibWrapper/bin/VTFCmd.exe
utils/vmt_to_vmat/VTFLibWrapper/bin/VTFEdit.exe
utils/vmt_to_vmat/VTFLibWrapper/bin/VTFLib.dll
utils/vmt_to_vmat/VTFLibWrapper/bin/VTFLib.x64.dll
utils/vmt_to_vmat/VTFLibWrapper/bin/VTFLib.x86.dll
utils/vmt_to_vmat/VTFLibWrapper/bin/x64/DevIL.dll
utils/vmt_to_vmat/VTFLibWrapper/bin/x64/HLLib.dll
utils/vmt_to_vmat/VTFLibWrapper/bin/x64/VTFCmd.exe
utils/vmt_to_vmat/VTFLibWrapper/bin/x64/VTFEdit.exe
utils/vmt_to_vmat/VTFLibWrapper/bin/x64/VTFLib.dll
utils/vmt_to_vmat/VTFLibWrapper/bin/x86/DevIL.dll
utils/vmt_to_vmat/VTFLibWrapper/bin/x86/HLLib.dll
utils/vmt_to_vmat/VTFLibWrapper/bin/x86/VTFCmd.exe
utils/vmt_to_vmat/VTFLibWrapper/bin/x86/VTFEdit.exe
utils/vmt_to_vmat/VTFLibWrapper/bin/x86/VTFLib.dll
utils/vmt_to_vmat/VTFLibWrapper/lib/VTFLib.h
utils/vmt_to_vmat/VTFLibWrapper/lib/x64/VTFLib.lib
utils/vmt_to_vmat/VTFLibWrapper/lib/x86/VTFLib.lib
utils/vmt_to_vmat/VTFLibWrapper/VTFLib.py
utils/vmt_to_vmat/VTFLibWrapper/VTFLibConstants.py
utils/vmt_to_vmat/VTFLibWrapper/VTFLibEnums.py
utils/vmt_to_vmat/VTFLibWrapper/VTFLibStructures.py
.idea/codeStyles/codeStyleConfig.xml
.idea/inspectionProfiles/profiles_settings.xml
.idea/misc.xml
.idea/modules.xml
.idea/source2utils.iml
.idea/vcs.xml
utils/extract_alpha_channel.py
utils/extract_alpha_channel.py
utils/extract_alpha_channel.py
utils/working files/extract_alpha_channel.py
utils/__pycache__/mdl_to_vmdl.cpython-38.pyc
utils/__pycache__/vmt_to_vmat.cpython-38.pyc
utils/build/mdl_to_vmdl/Analysis-00.toc
utils/build/mdl_to_vmdl/base_library.zip
utils/build/mdl_to_vmdl/EXE-00.toc
utils/build/mdl_to_vmdl/mdl_to_vmdl.exe.manifest
utils/build/mdl_to_vmdl/PKG-00.pkg
utils/build/mdl_to_vmdl/PKG-00.toc
utils/build/mdl_to_vmdl/PYZ-00.pyz
utils/build/mdl_to_vmdl/PYZ-00.toc
utils/build/mdl_to_vmdl/Tree-00.toc
utils/build/mdl_to_vmdl/Tree-01.toc
utils/build/mdl_to_vmdl/warn-mdl_to_vmdl.txt
utils/build/mdl_to_vmdl/xref-mdl_to_vmdl.html
utils/build/vmt_to_vmat/Analysis-00.toc
utils/build/vmt_to_vmat/base_library.zip
utils/build/vmt_to_vmat/COLLECT-00.toc
utils/build/vmt_to_vmat/EXE-00.toc
utils/build/vmt_to_vmat/PKG-00.pkg
utils/build/vmt_to_vmat/PKG-00.toc
utils/build/vmt_to_vmat/PYZ-00.pyz
utils/build/vmt_to_vmat/PYZ-00.toc
utils/build/vmt_to_vmat/Tree-00.toc
utils/build/vmt_to_vmat/Tree-01.toc
utils/build/vmt_to_vmat/vmt_to_vmat.exe
utils/build/vmt_to_vmat/vmt_to_vmat.exe.manifest
utils/build/vmt_to_vmat/warn-vmt_to_vmat.txt
utils/build/vmt_to_vmat/xref-vmt_to_vmat.html
utils/dist/dist.7z
utils/doom_to_vmat.py
utils/test_process.py
utils/vmt_to_vmat.spec
utils/vmt_to_vmat_backup.py
utils/VTFLibWrapper/bin/VTFLib.x64.dll
utils/VTFLibWrapper/bin/VTFLib.x86.dll
utils/VTFLibWrapper/README.md
utils/VTFLibWrapper/VTFLib.py
utils/VTFLibWrapper/VTFLibConstants.py
utils/VTFLibWrapper/VTFLibEnums.py
utils/VTFLibWrapper/VTFLibStructures.py
utils/mdl_to_vmdl.spec
